/* Navbar */
.navbar {
    background-color: #fff !important;
    /* Màu nền trắng */
}

.navbar .navbar-toggler-icon {
    background-color: #007bff;
    /* Màu xanh da trời cho toggle icon */
}

.navbar .navbar-toggler {
    color: #fff;
    /* Chữ trắng */
    border-color: #007bff;
    /* Viền xanh da trời cho toggle button */
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    color: #007bff;
    /* Màu xanh da trời cho chữ */
}

.navbar .navbar-nav .nav-link:hover {
    color: #fff;
    /* Chữ trắng khi hover */
    background-color: #007bff;
    /* Màu nền xanh da trời khi hover */
}

/* Màu nền xanh da trời cho nút tìm kiếm */
.navbar .btn-outline-light {
    color: #fff;
    /* Chữ trắng */
    border-color: #007bff;
    /* Viền xanh da trời */
    background-color: #007bff;
    /* Màu nền xanh da trời */
}

/* Màu chữ trắng cho icon trong nút tìm kiếm */
.navbar .btn-outline-light i {
    color: #fff;
}