.address-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    float: left;
}

.address-field {
    margin-bottom: 10px;
}

.address-label {
    font-weight: bold;
}
.form-add-address {
    border: 1px solid #ccc;
    width: 100%;
    height: 200px; 
    margin-top: 1rem;
}
.input-add-address {
    display: block;
    margin: 1rem;
    width: 94%;
    font-size: 14px;
}
.btn-add-address{
    margin-left: 1rem;
}