.footer {
    margin-top: 100px;
    background-color: #f2f2f2;
    display: flex;
    width: 100%;
    margin-left: 0;
}

.footer > .col-12 > ul {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    padding-top: 20px;
}

.footer > .col-12 > ul > li {
    padding-top: 5px;
}