.review-card-container {
    display: grid;
    place-items: center;
    font-family: 'Manrope', sans-serif;
}

.n-review-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    /* border-radius: 6px; */
    /* -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1) */
}

.comment-box {
    padding: 5px;
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px #05b9f5 !important;
}

.send {
    color: #fff;
    background-color: #1aaada;
    border-color: #1aaada;
}

.send:hover {
    color: #fff;
    background-color: #05b9f5;
    border-color: #05b9f5;
}


.rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ff9f1a;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}